input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
select[type=option]::-webkit-inner-spin-button, 
select[type=option]::-webkit-outer-spin-button { 
  -webkit-appearance: ''; 
  margin: 0; 
}